body {
  background-color: rgb(238, 217, 196);
  color: #7F4F38;
}

html {
  scroll-behavior: smooth;
}

h4 {
  display: inline-block;
}

.container {
  overflow: hidden;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  max-width: 100%;
  text-transform: uppercase;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  color: #7F4F38;
  text-shadow: 1px 1px rgb(3, 2, 2) !important;
  font-family: 'Raleway', sans-serif;
  min-height: 100px;
}

.transition {
  transition: .4s;
}

a {
  text-decoration: none;
  color: #7F4F38;
}

a:hover {
  text-decoration: none;
  color: #4b291d;
}

.text {
  display: inline-block;
  position: relative;
}

.logo {
  color: white;
  text-shadow: 1px 2px rgb(3, 2, 2) !important;
  border: 2px solid #725345;
  padding: 0.5em;
  transition: .2s;
}

.logo:hover {
  color: #725345;
  text-shadow: .5px .5px #725345 !important;
}

.text:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #643823;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.text:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dark {
  max-width: 100%;
  background-color: rgb(250, 240, 230);
}

.dark .logo {
  color: #7F4F38 !important;
  text-shadow: 1px 1px rgb(3, 2, 2) !important;
}

.dark .logo:hover {
  color: #4b2619 !important;
  text-shadow: 1px 1px #4b2619 !important;
}

.dark h4 {
  font-weight: bold !important;
}

.smallS {
  display: none !important;
}

.fa-bars {
  cursor: pointer !important;
}

.navi-mobile {
  padding-left: calc(1% + 15px) !important;
  padding-right: calc(1% + 15px) !important;
  display: none !important;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  height: auto;
  transition: 1s;
}

.show {
  display: flex !important;
  animation: entrance 1s ease-in 0s 1 normal none;
  height: auto !important;
}

.fix {
  top: calc(100% - 100px) !important;
}

@media (max-width: 1200px) {
  .limit {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }

  .contactForm {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }

  /* .mapouter {
    width: 800px !important;
    height: 400px !important;
  } */
}

@media (min-width: 900px) {
  .navi-mobile {
    display: none !important;
  }

  .block {
    top: 100% !important;
  }
}

@media (max-width: 900px) {
  .container {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
    overflow-x: hidden;
  }

  .limit {
    padding-left: 1% !important;
    padding-right: 1% !important;
  }

  /* .mapouter {
    width: 100% !important;
    height: 400px !important;
  } */

  .smallS {
    display: block !important;
  }

  .bigS {
    display: none !important;
  }

  .container h4 {
    font-size: 16px !important;
  }

  .footer {
    font-size: 13px !important;
  }
}

/* .map-text {
  color: rgb(0, 0, 0);
}

.map-text p {
  margin: .3em 0 !important;
} */

h1 {
  color: #7F4F38;
  font-weight: 400 !important;
}

.contactForm {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #7F4F38;
  font-weight: bold !important;
}

.btn-contact {
  outline: 1px solid #7F4F38;
  background-color: rgb(250, 240, 230);
}

.btn-contact:hover {
  background-color: rgb(245, 222, 200);
}

/* .mapouter {
  width: 1200px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.gmap_canvas iframe {
  position: relative;
  z-index: 1
} */

.block {
  top: 100%;
  position: relative !important;
}

.showcase {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-image: url("/public/photo/bg-test.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  font-size: large;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px rgb(20, 20, 20) !important;
  padding: 150px 100px;
  line-height: 2em;
  backdrop-filter: blur(10px);
  max-width: auto !important;
  max-height: auto !important;
}

.containerContact {
  max-width: 100%;
  text-transform: uppercase;
  padding-top: 2em;
  padding-bottom: 2em;
  color: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;
}

.footer {
  margin-top: 100px;
  font-weight: 500 !important;
}

.limit {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 2500px;
  width: 100%;
}

@keyframes entrance {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-150px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-45px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-18px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-2px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}