body {
  background-color: rgb(238,217,196);
}

h4 {
  display: inline-block;
}

.container {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 2;
  max-width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  text-transform: uppercase;
  padding-top: 2em;
  padding-bottom: 2em;
  color: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;
  height: 100px;
}

.transition {
  transition: .4s;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  text-decoration: none;
  color: rgb(88, 88, 88);
}

.text {
  display: inline-block;
  position: relative;
}

.text:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.text:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dark {
  text-shadow: 1px 1px rgb(0, 0, 0) !important;
  background-color: rgb(250,240,230);
}

.selected {
  border-bottom: 2px solid rgb(0, 0, 0);
}

@media (max-width: 1200px) {
  .container {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }

  .containerContact {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }

  .contactForm {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }

  .mapouter {
    width: 800px !important;
    height: 400px !important;
  }
}

@media (max-width: 850px) {
  .container {
    padding-left: 1% !important;
    padding-right: 1% !important;
    overflow-x: hidden;
  }

  .mapouter {
    width: 100% !important;
    height: 400px !important;
  }
}

.map-text {
  color: rgb(0, 0, 0);
}

.map-text p {
  margin: .3em 0 !important;
}

.contactForm {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.btn-contact {
  outline: 1px solid rgb(197, 168, 132);
  background-color: rgb(241, 207, 165);
}

.btn-contact:hover {
  background-color: rgb(197, 168, 132);
}

.mapouter {
  width: 1200px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.gmap_canvas iframe {
  position: relative;
  z-index: 1
}

.showcase {
  position: relative;
  top: -100px;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-image: url("/public/photo/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.containerContact {
  max-width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  text-transform: uppercase;
  padding-top: 2em;
  padding-bottom: 2em;
  color: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;
}