body {
  background-color: rgb(238,217,196);
}

html {
  scroll-behavior: smooth;
}

h4 {
  display: inline-block;
  color: #7F4F38;
}

.container {
  overflow: hidden;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  max-width: 100%;
  text-transform: uppercase;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
  color: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;
  min-height: 100px;
}

.transition {
  transition: .4s;
}

a {
  text-decoration: none;
  color: #7F4F38;
}

a:hover {
  text-decoration: none;
  color: #7F4F38;
}

.text {
  display: inline-block;
  position: relative;
}

.text:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #7F4F38;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.text:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dark {
  max-width: 100%;
  background-color: rgb(250,240,230);
}

.dark h4 {
  font-weight: bold !important;
}

.smallS {
  display: none !important;
}

.fa-bars {
  cursor: pointer !important;
}

.navi-mobile {
  display: none !important;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  height: auto;
  transition: 1s;
}

.show {
  display: flex !important;
  animation: entrance 1s ease-in 0s 1 normal none;
  height: auto !important;
}

.fix {
  top: calc(100% - 100px) !important;
}

@media (max-width: 1200px) {
  .container {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }

  .containerContact {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }

  .contactForm {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }

  /* .mapouter {
    width: 800px !important;
    height: 400px !important;
  } */
}

@media (min-width: 850px) {
  .navi-mobile {
    display: none !important;
  }

  .block {
    top: 100% !important;
  }
}

@media (max-width: 850px) {
  .container {
    padding-left: 1% !important;
    padding-right: 1% !important;
    overflow-x: hidden;
  }

  /* .mapouter {
    width: 100% !important;
    height: 400px !important;
  } */

  .smallS {
    display: block !important;
  }

  .bigS {
    display: none !important;
  }

  .container h4 {
    font-size: 16px !important;
  }

  .container {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
}

.map-text {
  color: rgb(0, 0, 0);
}

.map-text p {
  margin: .3em 0 !important;
}

h1 {
  color: #7F4F38;
}

.contactForm {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #7F4F38;
  font-weight: bold !important;
}

.btn-contact {
  outline: 1px solid #7F4F38;
  background-color: rgb(250,240,230);
}

.btn-contact:hover {
  background-color: rgb(245, 222, 200);
}

/* .mapouter {
  width: 1200px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.gmap_canvas iframe {
  position: relative;
  z-index: 1
} */

.block {
  top: 100%;
  position: relative !important;
}

.showcase {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-image: url("/public/photo/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.containerContact {
  max-width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  text-transform: uppercase;
  padding-top: 2em;
  padding-bottom: 2em;
  color: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;
}

.footer {
  margin-top: 100px;
}

.limit {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 2500px;
  width: 100%;
}

@keyframes entrance {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-150px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-45px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-18px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-2px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}